---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CursorToggle from '../components/CursorToggle.vue';
import ChatWidget from '../components/ChatWidget.vue';
import Analytics from '@vercel/analytics/astro'
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>TechTerview | The Ultimate Interview Prep Platform</title>
	</head>
	<body>
		<Header />
		<CursorToggle client:media="(pointer: fine) and (min-width: 768px)" />
		<main class="pt-20">
			<slot />
		</main>
		<Footer />
		<ChatWidget client:load />
		<Analytics />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		scroll-behavior: smooth;
	}
</style>
